# Node.js
**/node_modules/
**/dist/
**/build/
npm-debug.log

.env
.env.*
**/env/
**.env

Dockerfile
docker-compose.yml

# IDE, tools
.vscode
.eslintrc

# Python
**/__pycache__/
*.py[cod]
pip-log.txt
.tox
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
**/.mypy_cache/
**/.pytest_cache/

# Git
**/.git/

# Tests
**/tests/
